@import "setup";
@import "typography";

// GENERAL STYLES

html{
  font-size: 62.5%;
  scroll-behavior:smooth;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
}
body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;	
}
header{
  height: 90vh;
  position: relative;
  // height: 300px;
  background:#443a8b;
}
header h1,
h2{
  color: #fff;
  margin: 0;  
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  padding-top: 7rem;
}
header h2{
  font-size: 3rem;
  color:#fe6192; 
  line-height: 1.5rem;
  padding-top: 2rem;  
}
.hamburgerMenu{
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px 40px 0 0;
    z-index: 5;
}
.hamburgerMenu a{
  color: #fff;
  font-size:2.5rem;  
}
.menuContent{
    // display: none;
position: absolute;
right: 40px;
top: 50px;
text-align: right;
list-style: none;
font-size: 1.5rem;
z-index: 300;
}
.fa{
    display: inline-block;

    font-size: 14px;
font-size: inherit;
text-rendering: auto;
}
.menuContentWrap{
  padding: 30px;
background:grey;
position: relative;
// display: none;
}
.menuContent li{
  padding: 20px 0; 
  
}
.menuContent li a{
    color:pink;
    transition: all 0.3s ease-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
.menuContent li a:hover{
  color:yellow;
}

.menuShow,
.exitIconShow{
    display: block;
}
.hamburgerHide{
    display: none;
}
.hamburgerMenu .exitIcon{
  display: none;
}

img{
  max-width:100%;
  display: block;
  border: 2px solid red;
}
.about img{
  width: 30%;
}
.projects img{
  max-width: 100%;  
  display: block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  box-shadow: -5px 30px 30px #d3d3d3;  
}
.projects img:hover{
  transition: none;
  box-shadow: none;
  transform: translateY(-8px);
  cursor: pointer;
}
.projectDescription,
.aboutDescription{
  max-width: 60%;  
  border: 2px solid green; 
}
.aboutDescription p:first-child{
  line-height: 1.7;
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  color: #fe6192;
}
.aboutDescription p:last-child,
.projectDescription p{
  font-size: 1rem;
  margin-top: 20px;
  letter-spacing: 1.08px;
  line-height: 1.5;
}
.projectOne,
.projectTwo,
.projectThree,
.projectFour,
.about{
  display: flex;
  margin: 6rem 10rem;
  align-items: center;
  // justify-content: center;
  justify-content: space-between;
  position: relative;
  bottom: 25px;
  background:#f7f7f7;
  border: 2px solid red; 
}
.projectOne .projectDescription,
.projectThree .projectDescription{
  margin-left: 4rem;
}
.projectTwo .projectDescription,
.projectFour .projectDescription{
  margin-right: 4rem;
}
h3{
  font-size: 1.5rem;
  color: #fe6192;  
}
.listContainer{
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.projectTwo .listContainer,
.projectFour .listContainer{
  justify-content: flex-end;
}
.listContainer li{
  margin: 5px;
  color: #fe6192;
  border: 1px solid #fe6192;
  padding: 5px 7px;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}
.listContainer li:hover{
  color: #000;
}
li{
  list-style-type: none;
}
.linksToProjects a{
  padding: 0.6rem ;
  color:#fff;
  font-size: 1.3rem;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
  background:#443a8b;
     
}
.linksToProjects a:last-child{
  background-color:#fe6192; 
}
.linksToProjects a:last-child:hover{
  background-color:#443a8b;
} 
.linksToProjects a:hover{
  background-color:#fe6192; 
}
a{
  text-decoration: none;
  text-transform: uppercase;
}
main h2{
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 1.5px;
  color:#000;
  padding-bottom: 6rem;  
}

.skillsContainer{  
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 50%;
    padding-bottom: 8rem;;   
    margin: 0 auto;
    position: relative;    
    border: 2px solid red;
}
.skillsSection{
  border: 2px solid green;
}
.skillIconContainer{  
  // border: 2px solid green;
  margin: 1.5rem;    
}
.skillIconContainer h4{
  font-size: 1rem;
  color: #443a8b;
  text-align: center; 
}
.skillIconContainer i, 
.skillIconContainer img{
  font-size: 3.5rem;
  color: #fff;
  padding: 0.5rem;
  background:#443a8b;
  justify-content: space-between;  
}
.skillIconContainer i:hover,
.skillIconContainer img:hover{
  border: 3px solid #fe6192;
}
.contactSection{  
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background:#443a8b;  
  border: 2px solid red;
}
.contactSection h2{
  color: #fff;
}

input,
textarea{
  border-radius:0.8rem;
  border: 4px solid #443a8b;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}
input:hover,
textarea:hover{
  border: 4px solid #fe6192;
}
form{
  margin-top: 3rem;
}
input,
label{
  font-size: 1.5rem;
  margin-right: 3rem;
}
span{
  font-size: 2.5rem;  
}
textarea{
  overflow: auto;
  vertical-align: top;
  margin-right: 4.5rem;  
}
.submitButton{
  background:#fe6192;
  color: white;
  padding: 15px;
  justify-content: center;
  margin-left: 8rem;  
}
.submitButton:hover{
  border: 4px solid black;
}
.socialIcons{
  display: flex;
  font-size: 3rem;
  color:#fe6192;
  justify-content: space-around;
  margin: 1rem 0 1rem 0;  
}
footer{
  background-color:#fe6192;
  text-align: center;
  color:#fff;
  padding:2px; 
}

// Images:

.hamburgerMenu img{
  height: 100px;
  color: greenyellow
  
}
  /* HEADER */
//   header {
//   position: relative;
//   height: 300px;
//   background-image: linear-gradient(#368DC5, #0058AB);
// }

// h1 {
//   margin: 0;
//   padding: 100px 0;
//   font: 44px "Arial";
//   text-align: center;
// }

// header h1{
//   color: white;
// }

// .divider {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   width: 100%;
//   height: 100px;
//   /* drop the height to have a constant angle for all screen widths */
// }



