a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1350px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

header {
  height: 95vh;
  position: relative;
  background: #443a8b;
}

header img {
  width: 100px;
  height: 100px;
}

header img:last-child {
  position: relative;
  top: 10%;
  left: 80%;
}

header h1,
h2 {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-size: 8rem;
  text-transform: uppercase;
  padding-top: 20rem;
}

header h2 {
  font-size: 3rem;
  color: #fe6192;
  line-height: 1.5rem;
  padding-top: 2rem;
}

.hamburgerMenu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px 40px 0 0;
  z-index: 5;
}

.hamburgerMenu a {
  color: #000;
  font-size: 4rem;
  position: fixed;
}

.menuContent {
  display: none;
  position: absolute;
  right: 40px;
  top: 50px;
  text-align: right;
  list-style: none;
  font-size: 1.5rem;
  z-index: 300;
}

.fa {
  display: inline-block;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
}

.menuContentWrap {
  padding: 30px;
  background: lightpink;
  position: relative;
}

.menuContent li {
  padding: 20px 0;
}

.menuContent li a {
  color: #000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.menuContent li a:hover {
  color: turquoise;
}

.menuShow,
.exitIconShow {
  display: block;
}

.hamburgerHide {
  display: none;
}

.hamburgerMenu .exitIcon {
  display: none;
}

.projects {
  padding-bottom: 3rem;
}

.projects img {
  max-width: 100%;
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects img:hover {
  -webkit-transition: none;
  transition: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  cursor: pointer;
}

.aboutDescription p:first-child {
  line-height: 1.7;
  font-size: 2rem;
  letter-spacing: 1.1px;
  color: #fe6192;
}

.aboutDescription p:last-child,
.projectDescription p {
  font-size: 1.5rem;
  margin-top: 20px;
  letter-spacing: 1.08px;
  line-height: 1.5;
}

.projects {
  background: #f7f7f7;
}

.projectOne,
.projectTwo,
.projectThree,
.projectFour,
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  bottom: 25px;
}

.projectOne .projectDescription,
.projectThree .projectDescription {
  margin-left: 6rem;
}

.projectTwo .projectDescription,
.projectFour .projectDescription,
.aboutDescription {
  margin-right: 6rem;
}

h3 {
  font-size: 3rem;
  color: #fe6192;
}

h4 {
  font-size: 1.9rem;
  margin-top: 2rem;
}

.listContainer {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.listContainer li {
  margin: 5px;
  color: #fe6192;
  border: 1px solid #fe6192;
  padding: 6px 7px;
  font-size: 1.8rem;
  letter-spacing: 1.2px;
}

li {
  list-style-type: none;
}

.linksToProjects a {
  padding: 0.8rem;
  color: #fff;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 10px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
  background: #443a8b;
}

.linksToProjects a:hover {
  background-color: #fe6192;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

main h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 1.5px;
  color: #000;
  padding: 90px;
}

.skillsSection {
  background-color: rgba(247, 229, 228, 0.5);
}

.skillsContainer {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 70%;
  padding-bottom: 8rem;
  margin: 0 auto;
  position: relative;
}

.skillIconContainer {
  margin: 2rem;
}

.skillIconContainer h4 {
  font-size: 1.5rem;
  color: #443a8b;
  text-align: center;
}

.skillIconContainer i,
.skillIconContainer img {
  font-size: 8rem;
  color: #fff;
  padding: 0.5rem;
  background: #443a8b;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.skillIconContainer img {
  width: 85px;
  height: 85px;
}

.contactSection {
  color: #fff;
  margin-top: -5%;
  text-align: center;
  background: #443a8b;
  position: relative;
}

.contactSection h2 {
  color: #fff;
  padding: 50px;
  margin-bottom: 10%;
}

input,
textarea {
  border-radius: 0.8rem;
  border: 4px solid #443a8b;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

input:hover,
textarea:hover {
  border: 4px solid #fe6192;
}

.contactText form {
  margin: 0 auto;
}

input,
label {
  font-size: 1.5rem;
}

span {
  font-size: 2.5rem;
  position: absolute;
  top: -20%;
  left: 37%;
  text-align: center;
}

textarea {
  font-size: 1.2rem;
  overflow: auto;
  vertical-align: top;
  resize: none;
}

.submitButton {
  background: #fe6192;
  color: white;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0;
}

.submitButton:hover {
  border: 4px solid black;
}

.socialIcons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
  position: absolute;
  top: 95%;
  left: 33%;
  margin-bottom: 2rem;
}

.socialIcons a {
  color: #fff;
  margin: 5rem;
}

.socialIcons a:hover {
  color: #fe6192;
}

footer {
  font-size: 1.7rem;
  line-height: 2.3rem;
  background-color: #fe6192;
  text-align: center;
  color: #fff;
  padding: 2rem;
  margin-top: -5%;
}

@media (max-width: 1280px) {
  header h1, h2 {
    font-size: 7rem;
  }
  main h2 {
    font-size: 6rem;
  }
}

/* Desktops */
@media (max-width: 1024px) {
  header h1 {
    font-size: 6rem;
  }
  header h2 {
    font-size: 2rem;
  }
  main h2 {
    font-size: 4rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header h1 {
    font-size: 4rem;
    padding-top: 8rem;
  }
  header h2 {
    font-size: 1.5rem;
    padding-top: 4rem;
  }
  main h2 {
    font-size: 3rem;
  }
  .menuContent a {
    font-size: 1rem;
  }
  .menuContent li {
    padding: 5px 3px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .container img {
    width: 100%;
  }
  .aboutDescription p {
    font-size: 5rem;
  }
  .listContainer li {
    font-size: 0.8rem;
  }
  .linksToProjects a {
    font-size: 1rem;
  }
  .skillsContainer {
    max-width: 100%;
  }
  .skillIconContainer h4 {
    font-size: 0.8rem;
  }
  .skillIconContainer i,
  .skillIconContainer img {
    font-size: 2rem;
  }
  input,
  label {
    font-size: 1rem;
  }
  span {
    font-size: 2rem;
  }
  text-area {
    font-size: 3.5rem;
  }
  .socialIcons {
    font-size: 2rem;
  }
  .submitButton {
    padding: 10px;
    margin: 0 auto;
  }
  input,
  textarea {
    padding: 0.8rem 2rem;
  }
}

/* Landscape phones and down */
@media (max-width: 360px) {
  header h1 {
    font-size: 3rem;
    padding-top: 20rem;
  }
  main h2 {
    font-size: 2.5rem;
    padding: 2rem;
  }
  .projectDescription h4 {
    line-height: 2rem;
  }
  .projectDescription h3 {
    padding-top: 2rem;
  }
  .menuContent a {
    font-size: 0.5rem;
  }
  .menuContent li {
    padding: 0.2rem;
  }
  .hamburgerMenu a {
    font-size: 1.5rem;
  }
  .container {
    padding-top: 10%;
    padding-bottom: 5%;
    margin-top: 5%;
  }
  .about img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: absolute;
    top: 100%;
  }
  .projects {
    margin-top: 18rem;
    position: relative;
  }
  h3 {
    font-size: 2rem;
    margin: 0 auto;
  }
  h4 {
    font-size: 1.5rem;
  }
  .projectOne,
  .projectThree {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectTwo,
  .projectFour {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projectDescription,
  .aboutDescription {
    margin: 0 8%;
  }
  .container {
    max-width: 100%;
  }
  .listContainer li {
    font-size: 0.8rem;
  }
  .linksToProjects a {
    font-size: 1rem;
    padding: 8px;
  }
  .skillsContainer {
    width: 100%;
  }
  .skillIconContainer h4 {
    font-size: 1.5rem;
  }
  .skillIconContainer i {
    font-size: 4.5rem;
  }
  .skillIconContainer img {
    width: 30px;
    height: 30px;
  }
  input,
  label,
  textarea {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  span {
    font-size: 1.5rem;
    position: absolute;
    top: -5%;
    margin-left: -20%;
    padding-bottom: 1rem;
  }
  .socialIcons {
    font-size: 1.5rem;
    position: absolute;
    bottom: -10%;
    margin: 0 auto;
    padding-top: 5%;
  }
  .socialIcons a {
    margin-left: -65%;
  }
  footer {
    font-size: 1rem;
    padding: 2rem;
    line-height: 1.5rem;
  }
  input,
  textarea {
    padding: 0.5rem 0.5rem;
  }
  .contactText form {
    margin: 0 auto;
  }
  .contactSection h2,
  .skillsSection h2 {
    padding-top: 1.5rem;
  }
  .contactSection img,
  .skillsSection img,
  header img {
    width: 60px;
  }
}
